@import "tailwindcss";
/* @plugin "@iconify/json"; */
:root {
  font-family: "Prompt", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #deebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; */
  /* place-items: center; */
}

h1 {
  /* font-size: 20px; */
  line-height: 1.1;
}

button {
  /* border-radius: 50px; */
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #e5f4f4; */
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .card {
  padding: 2em;
} */

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

/* Hilangkan garis bawah header & filter DataTable */
:deep(.p-datatable .p-datatable-thead > tr > th) {
  border-bottom: none !important;
}

/* Opsional: hilangkan border filter row */
:deep(.p-datatable .p-datatable-thead + .p-datatable-tbody) {
  border-top: none !important;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-image: url(/src/assets/bg\ nav.jpg);
  } */
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-image: url(/src/assets/bg\ nav.jpg);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.no-border-btn,
.no-border-btn .p-button {
  border: none !important;
  box-shadow: none !important;
}
